/*Print Styles*/
/*Author: Robert Puls*/
/*Date: Mar 13, 2016*/

/*hides elements*/

nav, header	{
	display: none;
}

@page	{
	size: 0.5in 11in;
	margin: 0.5in;
}

/*fromats page for printing*/
body	{
	color: black;
	background-color: white;
	background-image: none;
	font-size: 12pt;
	font-family: "Times New Roman", Times, serif;
	line-height: 120%;
}

/*sets links to default colors*/
a	{
	text-decoration: underline;
	color: blue;
}

/*removes images from printout*/
img	{
	display: none;
}
